Dissect a statement and gather who agree:

%br/
%form{ :action => "", :method => "post"}
  %fieldset
    %label{:for => "name"}
    %input{:type => "text", :name => "name", :class => "text"}
    %input{:type => "submit", :value => "Send", :class => "button"}

Five examples:
%br/
Barack Obama agrees that
= link_to_statement "assault weapons should be banned"
%br/
Ford disagrees that
= link_to_statement "UK exit from the UE would be good for the UK"
%br/
Tim Berners-Lee agrees that
= link_to_statement "big data brings new oportunities"
%br/
Jimmy Wales agrees that
= link_to_statement "homeopathy should be illegal"
%br/
Richard Branson agrees that
= link_to_statement "politicians should collaborate more"
