%html
  %head
    %title Make a list of who agree with a statement you consider important
  %body
    = link_to("AgreeList", "http://agreelist.com")
    = " - " 
    = link_to("API & GitHub","https://github.com/agreelist/agreelist-test")
    = " - " 
    = link_to("feedback@agreelist.com","mailto://agreelist.com")
    %br/
    %br/
    = yield
