%html
  %head
    %title The list of who agree
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  %body
    <script src="js/bootstrap.min.js"></script>
    = link_to("AgreeList", "http://agreelist.com")
    = " - " 
    = link_to("Developers","https://github.com/arpahector/agreelist")
    = " - "
    = link_to("feedback@agreelist.com","mailto://agreelist.com")
    %br/
    %br/
    = yield
