%html
  %head
    %title The list of who agree
  %body
    = link_to("AgreeList", "http://agreelist.com")
    = " - " 
    = link_to("Developers","https://github.com/arpahector/agreelist")
    = " - "
    = link_to("feedback@agreelist.com","mailto://agreelist.com")
    %br/
    %br/
    = yield
